<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Library Homepage</title>
</head>
<body class="container mt-5">
    <h1 class="mb-4">Library Homepage</h1>

    <p>This is the homepage.</p>

    <div class="mb-3">
        <a href="/templates/book_page.html" class="btn btn-primary">Move to Books</a>
        <a href="/templates/customer.html" class="btn btn-success">Move to Customers</a>
        <a href="/templates/loans.html" class="btn btn-info">Move to Loans</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofZ6ebEY8JF9C/URqDShA6Q7gPQV91iSsp" crossorigin="anonymous"></script>
</body>
</html>
